{% extends 'base.html' %}
{% load static %}

{% block title %}Update password{% endblock %}
{% block content %}
    <div class="w-25 mx-auto mt-4">
        <h2>Update Password</h2>
        <hr>
        <form action="{% url 'accounts:update_password' %}?next={{ next }}"
              method="post" class="text-center" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'partial/form.html' with button_text='Update' %}
        </form>
    </div>
{% endblock %}