{% extends 'base.html' %}
{% load static %}

{% block title %}Update profile{% endblock %}
{% block content %}
    <div class="w-25 mx-auto mt-4 bg-light p-5">
        <h2>Update profile</h2>
        <hr>
        <form action="{% url 'accounts:update' %}?next={{ next }}"
              method="post" class="text-center" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'partial/form.html' with button_text='Update' %}
        </form>
    </div>
{% endblock %}