{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="container pt-4">
        <div class="content">
            <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item main-slider active"
                         style="background-image: url({% static 'img/banners/1.jpg' %})">
                    </div>
                    <div class="carousel-item main-slider"
                         style="background-image: url({% static 'img/banners/1.webp' %})">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-dark"><strong class="bg-light">Too tired for groceries shopping?</strong></h3>
                            <p class="lead"><span class="bg-dark">We deliver to you - fast and reliably!</span></p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="content px-3 py-4 mt-4">
                <div class="row text-white">
                    <div class="col-lg-4 col-xl-4 col-md-6 mb-4">
                        <div class="card card-yellow h-100" onclick="location.href='{% url "storefront:delivery" %}';">
                            <div class="card-body">
                                <h2 class="card-title"><strong>Delivery</strong></h2>
                                <div class="d-flex align-items-center">
                                    <p class="card-text"><strong>Learn more about worldwide shipping and delivery</strong></p>
                                    <img src="{% static "img/image 113.png" %}" class="img-fluid w-50">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-6 mb-4">
                        <div class="card card-blue h-100" onclick="location.href='{% url "storefront:returns" %}';">
                            <div class="card-body">
                                <h2 class="card-title"><strong>Return Policy</strong></h2>
                                <div class="d-flex align-items-center">
                                    <p class="card-text"><strong>See information about the returns options in your country</strong></p>
                                    <img src="{% static "img/image 114.png" %}" class="img-fluid w-50">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-6 mb-4">
                        <div class="card card-yellow h-100" onclick="location.href='{% url "storefront:benefits" %}';">
                            <div class="card-body">
                                <h2 class="card-title"><strong>Benefits</strong></h2>
                                <div class="d-flex align-items-center">
                                    <p class="card-text"><strong>Earn bonuses with every purchase</strong></p>
                                    <img src="{% static "img/image 115.png" %}" class="img-fluid w-50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <h2 class="mt-5 mb-4">New Products</h2>
                <div id="newProductsCarousel" class="carousel slide carousel-multi-item" data-bs-ride="carousel">
                    {% if product_list|length > 2 %}
                        <ol class="carousel-indicators">
                            <li data-bs-target="#newProductsCarousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#newProductsCarousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#newProductsCarousel" data-bs-slide-to="2"></li>
                        </ol>
                    {% endif %}
                    <div class="carousel-inner mb-5">
                        {% for product in product_list|slice:":12" %}
                            {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                            {% elif forloop.counter == 5 or forloop.counter == 9 %}
                                <div class="carousel-item">
                            {% endif %}
                        <div class="col-md-3 h-100 px-3 py-1" style="float:left">
                            <div class="card mb-2 product-card" onclick="location.href='{% url "storefront:product" product.pk %}';">
                                <img class="card-img-top product-img-preview pt-2"
                                     src="{{ product.image_container.images.first.file.url }}" alt="{{ product.title }}">
                                <div class="card-body">
                                    <p class="product-title text-center">{{ product.title }}</p>
                                    <div class="d-flex align-items-center">
                                        <h5 class="pro-price w-50">
                                            {% if product.stock.discount_price %}
                                                <strike class="text-muted">${{ product.stock.price }}</strike>
                                                <span class="discount">${{ product.stock.discount_price }}</span>
                                            {% else %}
                                                <span class="text-muted">${{ product.stock.price }}</span>
                                            {% endif %}
                                        </h5>
                                        <a class="nav-link w-25" href="ppp"><i class="fa fa-shopping-cart fa-2x"></i></a>
                                        <a class="nav-link w-25" href="ooo"><i class="fa fa-heart fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 %}
                            </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <h2 class="mt-5 mb-4">Sale</h2>
                    <div id="discountProductsCarousel" class="carousel slide carousel-multi-item" data-bs-ride="carousel">
                        {% if product_list|length > 4 %}
                            <ol class="carousel-indicators">
                                <li data-bs-target="#discountProductsCarousel" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#discountProductsCarousel" data-bs-slide-to="1"></li>
                                <li data-bs-target="#discountProductsCarousel" data-bs-slide-to="2"></li>
                            </ol>
                        {% endif %}
                        <div class="carousel-inner mb-5">
                            {% for product in product_list|slice:":12" %}
                                {% if forloop.counter == 1 %}
                                    <div class="carousel-item active">
                                {% elif forloop.counter == 5 or forloop.counter == 9 %}
                                    <div class="carousel-item">
                                {% endif %}
                            <div class="col-md-3 h-100 px-3 py-1" style="float:left">
                                <div class="card mb-2 product-card" onclick="location.href='{% url "storefront:product" product.pk %}';">
                                    <img class="card-img-top product-img-preview pt-2"
                                         src="{{ product.image_container.images.first.file.url }}" alt="{{ product.title }}">
                                    <div class="card-body">
                                        <p class="product-title text-center">{{ product.title }}</p>
                                        <div class="d-flex align-items-center">
                                            <h5 class="pro-price w-50">
                                                {% if product.stock.discount_price %}
                                                    <strike class="text-muted">${{ product.stock.price }}</strike>
                                                    <span class="discount">${{ product.stock.discount_price }}</span>
                                                {% else %}
                                                    <span class="text-muted">${{ product.stock.price }}</span>
                                                {% endif %}
                                            </h5>
                                            <a class="nav-link w-25" href="ppp"><i class="fa fa-shopping-cart fa-2x"></i></a>
                                            <a class="nav-link w-25" href="ooo"><i class="fa fa-heart fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 %}
                                </div>
                            {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}