{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block content %}
    <div class="container pt-4">
        <div class="content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb p-3">
                    <li class="breadcrumb-item"><a href="{% url 'storefront:index' %}">Shop</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'storefront:category' product.category.id %}">{{ product.category.title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
                </ol>
            </nav>
            <div class="row mt-5">
                <div class="col-md-12 d-flex px-5">
                    <div class="col-md-5 me-5">
                        <div class="pro-img-details">
                            <img src="{{ product.image_container.images.first.file.url }}"
                                 id="expandedImg" alt="{{ product.title}}">
                        </div>
                        <div class="row justify-content-center my-3">
                            {% for image in product.image_container.images.all %}
                                <div class="img-gallery">
                                    <img style="max-width: 100%" src="{{ image.file.url }}" alt="{{ image }}" onclick="showImage(this);">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3>{{ product.title }}</h3>
                        <p>{{ product.description|linebreaksbr }}</p>
                        <hr>
                        <p><strong>SKU: </strong>{{ product.sku }}</p>
                        <div>
                            {% if product.stock.quantity == 0 %}
                                <span class="pro-price discount">Out of stock</span>
                            {% else %}
                                <strong>Price: </strong>
                                {% if product.stock.discount_price %}
                                    <span class="pro-price discount">
                                        <strike class="text-muted">${{ product.stock.price }}</strike>
                                        ${{ product.stock.discount_price }}</span>
                                {% else %}
                                    <span class="pro-price text-muted">${{ product.stock.price }}</span>
                                {% endif %}
                            {% endif %}

                        </div>
                        {% if product.stock.quantity > 0 %}
                            <div class="form-group mt-3">
                                <form>
                                    <label for="quantity" class="fw-bold">Quantity:</label>
                                    <input id="quantity" type="number" min="0" max="{{ product.stock.quantity }}"
                                           placeholder="1" class="form-control quantity mt-1">
                                    <button class="btn btn-round btn-main mt-3" type="button">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showImage(imgs) {
            let expandImg = document.getElementById("expandedImg");
            expandImg.src = imgs.src;
            expandImg.parentElement.style.display = "block";
        }
    </script>
{% endblock %}