{% load static %}
<div class="row mt-5 pb-5">
    <hr class="w-75 mx-auto">
    <div class="d-flex col-md-12 px-5 my-4 justify-content-center">
        <div class="col-md-3 mx-4 d-flex flex-column align-items-center">
            <img src="{% static 'img/image 113.png' %}" class="img-fluid w-50">
            <p class="text-muted text-center text-uppercase">Express worldwide shipping</p>
            <hr>
            <p class="text-muted">We can ship your order anywhere in the world! The nature of our products makes them
                extremely durable to travel. We process your order quickly and send it out often on
                the very same day. So you can buy with confidence!
            </p>
        </div>
        <div class="col-md-3 mx-4 d-flex flex-column align-items-center">
            <img src="{% static 'img/image 114.png' %}" class="img-fluid w-50">
            <p class="text-muted text-center text-uppercase">Why you should buy from us</p>
            <hr>
            <p class="text-muted">You should buy from Delight Mart if you are looking for an online store that provides
                a great selection of quality products at fair prices, and that goes above and beyond to
                ensure you are 100% satisfied with your purchase.
            </p>
        </div>
        <div class="col-md-3 mx-4 d-flex flex-column align-items-center">
            <img src="{% static 'img/image 115.png' %}" class="img-fluid w-50">
            <p class="text-muted text-center text-uppercase">Great products and service</p>
            <hr>
            <p class="text-muted">We’ve managed to become the best online store for spices in the world. When it comes to
                quality of products, sheer variety, fair prices, ease of shopping, personal attention to
                clients, and great customer service, we always come on top!
            </p>
        </div>
    </div>
</div>