{% extends 'cms_base.html' %}
{% block title %}Orders - CMS{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if 'orders/new' in request.path or '/cms/' == request.path %}active{% endif %}"
               href="{% url 'cms:orders_new' %}">New orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'orders/processed' in request.path %}active{% endif %}"
               href="{% url 'cms:orders_processed' %}">On delivery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'orders/archive' in request.path %}active{% endif %}"
               href="{% url 'cms:orders_archived' %}">Archive</a>
        </li>
    </ul>
    <div class="d-flex justify-content-end mt-4 mb-2">
        {% include "partial/search_form.html" %}
    </div>
    {% if order_list %}
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 5%">Order #</th>
                <th scope="col" style="width: 20%">Customer Name</th>
                <th scope="col" style="width: 20%">Phone Number</th>
                <th scope="col" style="width: 6%">Total</th>
                <th scope="col" style="width: 8%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <th scope="row"><a href="{% url 'cms:order' order.pk %}">{{ order.pk }}</a></th>
                    <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                    <td>{{ order.user.phone_number }}</td>
                    <td>{{ order.get_total }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    {% else %}
        <p>No orders found.</p>
    {% endif %}
{% endblock %}