{% extends 'base.html' %}
{% block title %}Order {{ order.pk }}{% endblock %}
{% block content %}
    <div class="container pt-4">
        <div class="content">
            <div class="row mt-5">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb p-3 justify-content-center">
                        <li class="breadcrumb-item">
                            <a class="h3 text-uppercase text-muted text-decoration-none" href="{% url 'cart:cart_summary' %}">Shopping cart</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="h3 text-uppercase text-muted text-decoration-none" href="{% url 'cart:checkout' %}">Checkout details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="h3 text-uppercase text-dark">Order complete</span>
                        </li>
                    </ol>
                </nav>
                <div class="d-flex col-md-12 px-5 my-4 justify-content-between">
                    <div class="col-12 text-center">
                        <h3 class="text-uppercase">Order has been placed</h3>
                        <p class="text-uppercase text-muted mt-4">We will process your order within 2-3 business days.</p>
                        <a href="{% url 'storefront:index' %}">Continue shopping</a>
                    </div>
                </div>
            </div>
            {% include 'partial/benefits_block.html' %}
        </div>
    </div>
{% endblock %}